* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box
}
div {
    display: inline-block;
}
body {
    font-family: Roboto, sans-serif;
    color: #f2f2f2;
    background-color: #cccccc;
}
nav ul .items li a {
    color: #f2f2f2;
}
.span {
    color: green;
    font-weight: 900;
}
h1,
footer .footer-items h3{
    font-weight: 400;
    font-size: 40px;
}
nav {
    background: #222222;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li.logo {
    flex: 1;
}
nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
    cursor: pointer;
    transition: all 2s;
}
nav ul div.items :hover {
    color: cyan;
}
nav ul div.items:active {
    cursor: progress;
}
nav ul div.items a {
    font-size: 20px;
    text-decoration: none;
    padding: 0 12px;
}
nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 8px;
}
nav ul .search-icon input {
    height: 99%;
    width: 200px;
    border: none;
    outline: none;
    padding: 2px 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon {
    
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
nav ul .search-icon .icon span {
    color: #222222;
    font-size: 20px;
}
nav ul .search-icon .icon:active {
    cursor: progress;
}
nav ul .search-icon .icon:hover {
    background: rgb(180, 205, 238);
}
@media screen and (max-width: 1052px) {
    
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo {
        display: none;
    }
    nav ul div.items {
        flex: 4;
    }

}
@media screen and (max-width: 800px) {

    nav ul li.btn {
        display: block;
    }
    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
    }
    nav ul div.items {
        z-index: -1;
        position: fixed;
        top: -220px;
        right: 0;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top .4s;
    }
    nav ul div.items.show {
        top: 60px;
    }
    nav ul div.items li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
    }
    nav ul div.items li a {
        font-size: 19px;
    }
    

}
.container {
    width: 100%;
    height: 100vh;
    display: inline-block;
}
.swiper{
    width: 100%;
    height: 35%;
    align-items: center;
    justify-content: center;
}
.swiper-slide img {
    width: 100%;
    object-fit: cover;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: whitesmoke;
}
.swiper .swiper-pagination-bullet-active {
    background: whitesmoke;
}
/*1st container grid*/
.comp-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-top: 10px;
    margin-left: 75px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px #797575;
}
/*2nd container grid*/
.elec-apli-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-left: 75px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #797575;
}
/*3rd container grid*/
.in-game-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-left: 75px;
    border-radius: 8px;
    box-shadow: 4px 4px 5px #797575;
}
/*4th container grid*/
.wardrobe-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-left: 75px;
    border-radius: 8px;
    box-shadow: 4px 4px 5px #797575;
}
/*error*/
.out-game-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #797575;
}
.out-game-container img {
    margin-left: 2px;
    width: 230px;
    height: 210px;
    object-fit: cover;
    transition: all 0.6s;
}
.out-game-container img:hover {
    width: 234px;
    height: 230px;
    object-fit: cover;
}
.container .out-game-container h3 {
    margin-bottom: 2px;
    color: rgb(136, 130, 130);
    font-weight: 200;
    margin-top: -22px;
}
/*1st row*/
.smart-gad-container,
.make-up-container,
.toys-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-left: 25px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #797575;
}
/*2nd row*/
.gift-cards-container,
.furniture-container,
.books-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #797575;
}
/*3rd row*/
.spo-acces-container,
.mus-ins-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #797575;
}
/*4th row*/
.top-up-container,
.wholesale-container,
.stationary-container {
    width: 278px;
    height: 340px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #797575;
}
/*image size*/
.top-up-container img,
.wholesale-container img,
.stationary-container img,
.wardrobe-container img,
.spo-acces-container img,
.mus-ins-container img,
.gift-cards-container img,
.in-game-container img,
.furniture-container img,
.smart-gad-container img,
.books-container img,
.elec-apli-container img,
.make-up-container img,
.toys-container img,
.comp-container img {
    margin-left: 2px;
    width: 230px;
    border-radius: 8px;
    height: 210px;
    object-fit: cover;
    transition: all 0.6s;
    display: block;
}
/*image hover*/
.top-up-container img:hover,
.wholesale-container img:hover,
.stationary-container img:hover,
.wardrobe-container img:hover,
.spo-acces-container img:hover,
.mus-ins-container img:hover,
.in-game-container img:hover,
.gift-cards-container img:hover,
.furniture-container img:hover,
.books-container img:hover, 
.smart-gad-container img:hover,
.make-up-container img:hover,
.elec-apli-container img:hover,
.toys-container img:hover,
.comp-container img:hover {
    width: 234px;
    height: 230px;
    object-fit: cover;
}
.container h3{
    margin-bottom: 2px;
    color: rgb(136, 130, 130);
    font-weight: 200;
}
.cat {
    margin-top: 5px;
    margin-bottom: 4px;
    color: rgb(173, 173, 173);
    font-weight: 525;
}
.container button {
    margin-top: 23px;
    font-size: 18px;
    background: transparent;
    border: none;
    color: rgb(36, 172, 36);
    font-weight: 525;
    transition: all 0.6s;
}
.container button:hover {
    text-decoration: underline;
    color: rgba(221, 80, 15, 0.904);
    font-size: 20px;
    font-weight: 545;
    text-shadow: 2px 2px 3px rgb(180, 35, 35);
}
footer {
    margin-top: 80px;
    background: #111;
    height: auto;
    font-family: 'Open Sans';
    padding-top: 40px;
    color: whitesmoke;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h2 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i {
    color: aqua;
}
.footer-buttom {
    background: #000;
    width: 1400px;
    padding: 20px 0;
    text-align: center;
}
.footer-buttom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: uppercase;
}
.footer-buttom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

